
/* // p {
//     width: 250px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: block;
// } */

.wrappDetails{
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 5; /* number of lines to show */
        line-clamp: 5; 
-webkit-box-orient: vertical;
height:15ex;
}

.carouselSize{

    padding:1%;
    height:500px;
}

.wrappTitle{
    height: 5ex;
    overflow: hidden;
    
}

.price{
    font-size:larger;
}

.image{
    padding:10px;
    width:286px;
    height:160px;
}

.mainContainer{
    margin:20px
}