
<div class="row row-cols-1 row-cols-md-4 g-4 " style="padding: 2%;">

    <div class="col" *ngFor="let product of products">
      <div  class="card">
        <img src="{{ product.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title " style="font-size: large;">{{product.title}}</h1>
          <h5 class="card-title font-bold" style="font-size: large;">R{{product.price}}</h5>
          <!-- <p class="card-text">{{product.description}}</p> -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a routerLink="/products-details"><button class="btn btn-warning me-md-2" type="button" >More Details</button></a>
            <a routerLink="/cart"> <button class="btn btn-warning" type="button">Add to cart</button></a>
          </div>
        </div>
      </div>
    </div>
    
    
    
      </div>
    
  