<div class="card lg:card-side bg-base-100 shadow-xl" style="width: 50%; margin-left: auto; margin-right: auto;" >
    <figure><img src="../../assets/cover.jpg" alt="Shoes" style="height:420px; width:100%" /></figure>
    <div class="card-body">
      <h2 class="card-title">New album is released!</h2>
      <p>Click the button to listen on Spotiwhy app.</p>
      <div class="card-actions justify-end">
        <a class="badge badge-outline" href="#" routerLink="/home">Go back</a>
        <a class="badge badge-accent" href="#">Add to cart</a>
      </div>
    </div>
  </div>