
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/10/31/16671841288bdbbd1ccba2557cf1e97c12fa2f9372.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Colorblock bomba jacket</h5>
          <p class="card-text">R350</p>
          <button class="btn btn-outline btn-success">Add to card</button>
<button class="btn btn-outline btn-warning">View more</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://img.ltwebstatic.com/images3_pi/2023/01/06/1672991233e624cfeb105d611c79b143df08eca7cb_thumbnail_900x.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Web pants</h5>
          <p class="card-text">R180</p>
          <button class="btn btn-outline btn-success">Add to card</button>
          <button class="btn btn-outline btn-warning">View more</button>
        </div>
        
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/06/30/1656576584d3e59d6980b7fcb638bc14642fb6c181.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Art print varsity jacket</h5>
          <p class="card-text">Price: R300</p>
          <button class="btn btn-outline btn-success">Add to card</button>
          <button class="btn btn-outline btn-warning">View more</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/08/25/1661411423908b04b7204b38787f44fc59cf6d2354_thumbnail_900x.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Glitter Bodycon Dress</h5>
          <p class="card-text">Price: R135</p>
          <button class="btn btn-outline btn-success">Add to card</button>
          <button class="btn btn-outline btn-warning">View more</button>
        </div>
        
      </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
          <img src="https://img.ltwebstatic.com/images3_pi/2020/11/18/1605662127e396cdacdde67cabb51d529816b448c5_thumbnail_405x552.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Zebra longsleeve</h5>
            <p class="card-text">Price: R200</p>
            <button class="btn btn-outline btn-success">Add to card</button>
            <button class="btn btn-outline btn-warning">View more</button>
          </div>
          
        </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://img.ltwebstatic.com/images3_pi/2022/09/26/1664161174ec5f95b81b435cadef7e494e516159e8_thumbnail_900x.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nude hemp blouse</h5>
        <p class="card-text">Price: R180</p>
        <button class="btn btn-outline btn-success">Add to card</button>
        <button class="btn btn-outline btn-warning">View more</button>
      </div>
      
    </div>
</div>
