<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-semibold" id="exampleModalLabel">{{product?.title}} size guide</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table text-center">
               
        
             <thead class="table-dark">
                  <tr>
                    <th scope="col">Alpha sizing</th>
                    <th scope="col">Numeric sizing</th>
                    <th scope="col">Neck</th>
                    <th scope="col">Chest</th>
                  </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <th scope="row">XXS</th>
                        <td>30</td>
                        <td>33cm (13in)</td>
                        <td>76-79cm</td>
                      </tr>
                  <tr>
                    <th scope="row">XS</th>
                    <td>30-32</td>
                    <td>35cm (13.5in)</td>
                    <td>79-82cm</td>
                  </tr>
                  <tr>
                    <th scope="row">S</th>
                    <td>32-34</td>
                    <td>36-37cm (14in)</td>
                    <td>82-87cm</td>
                  </tr>
                  <tr>
                    <th scope="row">M</th>
                    <td>36-38</td>
                    <td>38-39cm (15in)</td>
                    <td>92-97cm</td>
                  </tr>
                  <tr>
                    <th scope="row">L</th>
                    <td>40-42</td>
                    <td>41-42cm (16in)</td>
                    <td>102-107cm</td>
                  </tr>
                  <tr>
                    <th scope="row">XL</th>
                    <td>44-46</td>
                    <td>46-47cm (18in)</td>
                    <td>122-127cm</td>
                  </tr>
                  <tr>
                    <th scope="row">XXL</th>
                    <td>48-50</td>
                    <td>48-50cm (19in)</td>
                    <td>132-137cm</td>
                  </tr>
                 
                 
                </tbody>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>