.breadcrumbMargin{
    margin:16px;
}

.wrappDetails{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    height:9ex;
    }
    
    .wrappTitle{
        font-weight: 800;
        font-style: italic;
        font-size: large; 
        height: 3.5ex;
        overflow: hidden;
        
    }
    
    .price{
        font-size:x-large;
        color:green;
    }
    
    .imageSize{
        height:360px;
    }
    
    .mainContainer{
        margin:20px
    }