    <div  class="card">
        <img src="{{ product.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title wrappTitle">{{product.title}}</h1>
           <p class="card-text" style="font-size: small; font-weight: bold;">{{product.color}}</p>
          <h5 class="card-title font-bold price" style="font-size: large; color:green">R{{product.price}}</h5>
          
          <p class="card-text wrappDetails">{{product.description}}</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a routerLink="/products-details" class="badge rounded-pill bg-secondary" type="button">View more</a>
            <span  (click)="addToCart()" class="badge rounded-pill bg-success" type="button">Add to cart</span>
          </div>
        </div>
      </div>

      