

    <div class="container mx-auto p-4 bg-white">
        <div class="w-full md:w-1/2 lg:w-1/3 mx-auto my-12">
          <h1 class="text-lg font-bold">Login</h1>

          <form class="flex flex-col mt-4" [formGroup]="myReactiveForm" (ngSubmit)="submit()">
           
    <div class="form-group">
        <label  for="emailInput_id">Username</label>
        <input type="text" 
        name="emailInput_id" 
        formControlName="emailInput" 
        class="form-control" 
        placeholder="Email address"
        class="px-4 py-3 mt-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm"
        (input)="myReactiveForm.get('emailInput').updateValueAndValidity()"
        >
      <div  *ngIf="myReactiveForm.get('emailInput').invalid && myReactiveForm.get('emailInput').touched" class="alert">Email address required</div> 
    </div>
<br>
    <div class="form-group">
        <label for="passwordInput_id">Password</label>

        <input type="password" 
        name="passwordInput_id" 
        formControlName="passwordInput" 
        class="form-control"
        placeholder="Password"
        class="px-4 py-3 mt-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm"
        (input)="myReactiveForm.get('PasswordInput').updateValueAndValidity()"
        >
        <div  *ngIf="myReactiveForm.get('passwordInput').invalid && myReactiveForm.get('passwordInput').touched" class="alert">Password required</div> 

    </div>
    
          
            <button
                type="submit"
                class="mt-4 px-4 py-3  leading-6 text-base rounded-md border border-transparent text-white focus:outline-none bg-blue-500 text-blue-100 hover:text-white focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer inline-flex items-center w-full justify-center items-center font-medium focus:outline-none"
            >
              Login
            </button>
            <div class="flex flex-col items-center mt-5">
              <p class="mt-1 text-xs font-light text-gray-500">
                Dont have an account?<a class="ml-1 font-medium text-blue-400">Register now</a>
                </p>
            </div>
          </form>
        </div>
      </div>
   
    