<!-- <div *ngIf="product">
  <div class="media" >
    <img class="card-img-top"  class="mr-3" [src]="product.image" alt="{{ product.title }}">
    <div class="media-body">
      <h5 class="title" for="card-title" >{{ product.title }}</h5>
      <h6 class="card-text">{{ product.description }}</h6>
      <p class="card-genre">Genre: {{product.price}}</p>
      <p class="card-duration">Duration: {{ product.category }} mins</p>
      <p class="year">Year: {{ product.availableStock }}</p>
      <button style="background-color: #BAFF39; color: black;" class="btn btn-outline-success">
        <i class="bi bi-save2"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
          <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
        </svg>
        Add To My Watchlist</button>
    </div>
  </div>
</div> -->


<div class="card mb-3" *ngIf="product">
  <img src="{{product?.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product?.title}}</h5>
    <p class="card-text">{{product?.description}}</p>
    <p class="card-text"><small class="text-muted">Stock available: {{product?.availableStock}}</small></p>
  </div>
</div>





<!-- <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" routerLink="/home"> Home</a></li>
    <li class="breadcrumb-item active"  aria-current="page">View Products</li>
  </ol> -->
<!-- <div class="card mb-3" *ngIf="product" style="max-width: 50%; margin-left: auto;margin-right: auto; padding: 10%;">
    <div class="row g-0" >
      <div class="col-md-3" >
        <img class="card-img-top"  class="mr-3" [src]="product.image" alt="{{ product.image }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->


